@import 'variables';
@import 'mixins';

@import 'template/sidebar';

$menu-togler-offset: 31px;

.no-href{
  cursor: pointer;
}

body{
  margin: 0px;
  width: 100%;
  height: auto;
}

header{
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../asset/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  height: $header-height-xxs;
  width: 100%;
  transition: all .5s;
  a{
    text-decoration: none;
  }
  box-sizing: border-box;
  padding: 0;
  .toggle-menu{
    transition: all .5s;
    padding: 7px;
    color: #DDD;
    position: absolute;
    top: $header-height-xxs - $menu-togler-offset;
    left: 0px;
    &:hover{
      color: #FFF;
    }
  }
  .header-inner{
    position: relative;
    width: 100%;
    padding: 0px;
    .index-link{
      h1{
        color: #fff;
        margin: 0;
        //margin-left: 5px;
        margin-left: 50px;
        margin-right: 100px;
        font-weight: normal;
        font-size: 1.2rem;
        text-align: center;
        transition: all 0.5s;
      }
    }
    .github-link{
      border: 1px solid white;
      border-radius: 5px;
      position: absolute;
      float: right;
      top: 2px;
      right: 10px;
      padding: 0px;
      font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
      color: #fff;
      .github-left{
        transition: all .5s;
        float:left;
        width: 12px;
        padding: 4px 0px 3px 4px;
        .github-logo{
          transition: all .5s;
          float:left;
          width: 12px;
        }
      }
      .github-right{
        transition: margin .5s, width .5s;
        float: left;
        width: 40px;
        margin: 0;
        margin-top: 0;
        margin-left: 8px;
        .follow-me{
          font-size: 5px;
          line-height: normal;
          margin-top: 2px;
          float:left;
        }
        .github{
          font-size: 8px;
          line-height: normal;
          margin-top: 0px;
          float:left;
          clear: left;
        }
        .github-arrow{
          opacity: 0;
          font-size: 5px;
          margin-left: 2px;
          line-height: 12px;
          float:left;
          i.fa{
            transform: rotate(-45deg);
          }
        }
      }
      &:hover{
        .github-left{
          width: 10px;
          padding: 5px 0px 4px 4px;
          .github-logo{
            width: 10px;
          }
        }
        .github-right{
          width: 46px;
          margin-left: 4px;
          .github-arrow{
            opacity: 1;
            .fa{
              animation-name: move;
              animation-duration: 1s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
            }
          }
        }
      }
    }

  }
}

main{
  transition: all 0.5s;
  background-color: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 0px;
}

@include xs{
  header{
    height: $header-height-init;
    .toggle-menu{
      top: $header-height-init - $menu-togler-offset;
    }
    .header-inner{
      .index-link{
        h1{
          margin-left: 7px;
          font-size: 2.4rem;
          text-align: left;
          line-height: normal;
        }
      }
      .github-link{
        border: 1.3px solid white;
        border-radius: 10px;
        position: absolute;
        float: right;
        top: 6px;
        right: 10px;
        padding: 0px;
        font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
        color: #fff;
        .github-left{
          float:left;
          width: 16px;
          height: auto;
          padding: 8px 0px 3px 6px;
          .github-logo{
            width: 16px;
            height: auto;
          }
        }
        .github-right{
          transition: margin .5s, width .5s;
          float: left;
          width: 60px;
          margin: 0;
          margin-top: 0;
          margin-left: 10px;
          .follow-me{
            font-size: 8px;
            line-height: normal;
            margin-top: 5px;
          }
          .github{
            font-size: 12px;
            line-height: normal;
            margin-top: 0px;
          }
          .github-arrow{
            font-size: 8px;
            margin-left: 5px;
            line-height: 19px;
          }
        }
        &:hover{
          .github-left{
            padding: 8px 0px 3px 6px;
            width: 16px;
            height: auto;
            .github-logo{
              width: 16px;
              height: auto;
            }
          }
          .github-right{
            width: 65px;
            margin-left: 5px;
          }
        }
      }
    }
  }
  body.full{
    header{
      height: $header-height;
      .toggle-menu{
        top: $header-height - $menu-togler-offset;
      }
      .header-inner{
        .index-link{
          h1{
            font-size: 1.2rem;
            text-align: left;
            line-height: normal;
            margin-left: 7px;
          }
        }
      }
    }
  }
}


@include sm{
  header{
    position: absolute;
    z-index: 1;
    .header-inner{
      .index-link{
        h1{
          text-align: center;
          margin-right: 100px;
          padding-top: 10px;
          line-height: normal;
          font-size: 2.8rem;
        }
      }
      .github-link{
        border: 2px solid white;
        border-radius: 15px;
        top: 10px;
        .github-left{
          width: 32px;
          padding: 10px 0px 7px 10px;
          .github-logo{
            width: 32px;
          }
        }
        .github-right{
          margin-left: 20px;
          width: 105px;
          .follow-me{
            font-size: 11px;
            line-height: 23px;
            margin-top: 2px;
          }
          .github{
            font-size: 23px;
            line-height: 23px;
          }
          .github-arrow{
            opacity: 0;
            font-size: 16px;
          }
        }
        &:hover{
          .github-left{
            width: 32px;
            padding: 10px 0px 7px 10px;
            .github-logo{
              width: 32px;
            }
          }
          .github-right{
            width: 115px;
            margin-left: 10px;
            .follow-me{
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
  main{
    position: absolute;
    padding-top: $header-height-init;
  }
  body.full{
    header{
      .header-inner{
        .index-link{
          h1{
            text-align: left;
            padding-top: 0px;
          }
        }
        .github-link{
          border: 1.3px solid white;
          border-radius: 10px;
          position: absolute;
          float: right;
          top: 6px;
          right: 10px;
          padding: 0px;
          .github-left{
            float:left;
            width: 16px;
            height: auto;
            padding: 8px 0px 3px 6px;
            .github-logo{
              width: 16px;
              height: auto;
            }
          }
          .github-right{
            width: 60px;
            margin: 0;
            margin-top: 0;
            margin-left: 10px;
            .follow-me{
              font-size: 8px;
              line-height: normal;
              margin-top: 5px;
            }
            .github{
              font-size: 12px;
              line-height: normal;
              margin-top: 0px;
            }
            .github-arrow{
              font-size: 8px;
              margin-left: 5px;
              line-height: 19px;
            }
          }
          &:hover{
            .github-left{
              padding: 8px 0px 3px 6px;
              width: 16px;
              height: auto;
              .github-logo{
                width: 16px;
                height: auto;
              }
            }
            .github-right{
              width: 65px;
              margin-left: 5px;
            }
          }
        }
      }
    }
    main{
      padding-top: $header-height;
    }
  }
}

@include md{
  main{
    padding-top: $header-height-init;
  }
  body.full{
    main{
      padding-top: $header-height;
    }
  }
  header{
    .header-inner{
      .index-link{
        h1{

        }
      }
    }
  }
}

@include lg{
  header{
    .header-inner{
      .index-link{
        h1{

        }
      }
    }
  }
}





//
