$xs-breake:   480px;
$sm-breake:   768px;
$md-breake:   992px;
$lg-breake:  1200px;
$xl-breake:  1440px;
$xll-breake: 1600px;

$header-height-xxs: 27px;
$header-height: 50px;
$header-height-init: 80px;

$ide-height-breake: 500px;

$collapsed-width: 6%;

$sidebar-width: 150px;

$input-min-height: 300px;
$output-min-height: 100px;
