<div class="content-wrapper">
  <div class="inner clearfix">
    <section>
      <h3>
        Bienvenido
      </h3>
      <p>
        Aparemente es la primera vez que nos visitas.
      </p>
      <p class="text-justify">
        El parser <strong>Lleca</strong> permite procesar cadenas que respetan cierta gramatica L(1)
        La aplicación permite ingresar dicha gramática y la cadena que se desea
        procesar.
      </p>
      <p>
        Puedes consultar la página de <a href="help.html">documentación</a> del parser.
      </p>
      <p>
        O acceder a la <a href="index.html">aplicación</a>.
      </p>
    </section>
  </div>
</div>
