<div class="header-inner">
  <a href="index.html" class="index-link">
    <h1>Lleca.GitHub.io</h1>
  </a>
  <a href="https://github.com/lleca" target="_blank" class="github-link">
    <div class="github-left">
      <img src="asset/github-icon.png" class="github-logo">
    </div>
    <div class="github-right">
      <span class="follow-me">Follow me on</span>
      <span class="github">GitHub</span>
      <span class="github-arrow">
        <i class="fa fa-arrow-right"></i>
      </span>
    </div>
  </a>
</div>
<a class="no-href toggle-menu" onclick="toggleSidebar()">
  <i class="fa fa-bars"></i>
</a>
