<div class="content-wrapper">
  <div class="inner clearfix">
    <section class="main-content">
      <h4>Contenidos</h4>
      <ul class="index">
        <li>
          <a href="#que-es-el-parser-lleca">
            <span>¿Qué es el parse Lleca?</span>
            <i aria-hidden="true" class="fa fa-angle-double-right"></i>
          </a>
        </li>
        <li>
          <a href="#por-que-existe-el-parser-lleca">
            <span>¿Por qué existe el parse Lleca?</span>
            <i aria-hidden="true" class="fa fa-angle-double-right"></i>
          </a>
        </li>
        <li>
          <a href="#como-funciona-el-parser">
            <span>¿Cómo funciona el parser?</span>
            <i aria-hidden="true" class="fa fa-angle-double-right"></i>
          </a>
        </li>
      </ul>


      <h4 id="que-es-el-parser-lleca">
        <i class="fa fa-caret-right"></i>
        <span>¿Qué es el parse Lleca?</span>
      </h4>
      <p class="ml-xs-1 text-justify text-inden-1">
        Es una programa dotado de interfaz web que permite analizar
        texto de manera sintáctica respetando determinadas reglas provistas
        previamente.
      </p>
      <h4 id="por-que-existe-el-parser-lleca">
        <i class="fa fa-caret-right"></i>
        <span>¿Por qué existe el parse Lleca?</span>
      </h4>
      <p class="ml-xs-1 text-justify text-inden-1">
        El parser Lleca es el resultado de un trabajo práctico de la asignatura
        "Parseo y generación de código" de la Licencitura en Informática de la
        Universidad de Quilmes
      </p>
      <p class="ml-xs-1 text-justify text-inden-1">
        <a href="https://unqpgc.github.io/">
          <span>sitio de la asignatura</span>
        </a>
      </p>
      <h4 id="como-funciona-el-parser">
        <i class="fa fa-caret-right"></i>
        <span>¿Cómo funciona el parser?</span>
      </h4>
      <p class="ml-xs-1 text-justify text-inden-1">
        El parser utiliza una gramática LL(1) y genera un AST que puede
        ser inspeccionado en la vista correspondiente.
        Con dicho AST, un conjunto de literales y otro de símbolos, construye
        una tabla 'oraculo' para procesar la cadena de entrada con orden (1)
      </p>

      <p class="ml-xs-1 text-justify text-inden-1">
        <a href="https://es.wikipedia.org/wiki/Analizador_sint%C3%A1ctico_LL">
          <span>analizador sintactico LL en wikipedia</span>
        </a>
      </p>





    </section>
  </div>
</div>
