<div class="menu-container">
  <div class="menu show-grammar" id="menu">
    <button id="grammar"
      type="button"
      onclick="grammarMode()"
      class="menu-button-icon"
      title="grammar">
      <span>grammar</span>
    </button>
    <button id="keywords"
      type="button"
      onclick="keywordsMode()"
      class="menu-button-icon"
      title="keywords">
      <span>keywords</span>
    </button>
    <button id="symbols"
      type="button"
      onclick="symbolsMode()"
      class="menu-button-icon"
      title="symbols">
      <span>symbols</span>
    </button>
    <button id="text"
      type="button"
      onclick="textMode()"
      class="menu-button-icon"
      title="text">
      <span>text</span>
    </button>
    <button id="process"
      type="button"
      class="menu-button-icon"
      title="process">
      <span class="fa fa-check"></span>
    </button>
  </div>
</div>
