
<div class="content-wrapper">
  <div class="inner clearfix">
    <section class="main-content">

      <h4>Ejemplos válidos de análisis</h4>

      <p class="ml-xs-1 text-justify text-inden-1">
        Los ejemplos válidos tienen como objetivo garantizar el correcto
        funcionamiento del parser, así como también proveer al usuario
        casos de uso generalizados.
      </p>

      <p class="ml-xs-1 text-justify text-inden-1">
        en desarrollo...
      </p>

      <div id="validate" class="validate"></div>

    </section>
  </div>
</div>
